<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    {{!-- {{#mainLayout}} --}}

      {{!-- {{{body}}} --}}


      {{#mainLayout}}
        {{{body}}}
      {{/mainLayout}}
        
      heloooo
    {{!-- {{/mainLayout}} --}}
  </body>
</html>
