<nav class="main-nav">
  <div>
    <h1>Leonardo Almeida</h1>
    <span>Front-end developer</span>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
{{{body}}}
<footer>
  <p>&copy; 2024 Leonardo Almeida</p>
</footer>